<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="base :: header"></div>
<div id="site_content">
    <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Lost items</h3>
        <a th:href="@{/findby/{category}(category='clothes')}"><h4>Clothes</h4></a>
        <a th:href="@{/findby/{category}(category='clothes')}"><img class="img-rounded" src="/images/clothing.jpeg" alt="Cloth image" width="80px"/></a>
        <p>Display list of missing clothes</p>
        <a th:href="@{/findby/{category}(category='pets')}"><h4>Pets</h4></a>
        <a th:href="@{/findby/{category}(category='pets')}"><img class="img-rounded" src="/images/pets.jpg" alt="Cloth image" width="80px"/></a>
        <p>Here are the list of missing pets </p>
        <a th:href="@{/findby/{category}(category='other')}"><h4>Other</h4></a>
        <a th:href="@{/findby/{category}(category='other')}"><img class="img-rounded" src="/images/other.jpg" alt="Cloth image" width="80px"/></a>
        <p>Other items reported missing</p>

    </div>

<div id="content">
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <form th:action="@{/search}" method="post">

                <label>Search </label><span><input class="search" type="text" name="search_field" placeholder="Search items"/></span>
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="/css/search.png" alt="Search" title="Search" />


        </form>
    </div>
</div>
<div class="container">
    <table class="table" title="Items List" >
        <thead>
        <tr>
            <td colspan=5>
            <b>Reported Lost items</b>
            </td>
        </tr>
        <tr>
            <th>Item image</th>
            <th>Item title</th>
            <th>Item catgory</th>
            <th>Item description</th>
            <th>Reported by</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="item : ${item}" >

            <td><img class="img-rounded" th:src="${item.imgUrl}" alt="Item image" width="30px"/><br/></td>

            <td th:text="${item.itemTitle}"></td>

            <td th:text="${item.itemCatgory}"></td>

            <td th:text="${item.itemDescription}"></td>

            <td th:text="${item.user.firstName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>