<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/css/style.css" rel="stylesheet"/>

</head>
<body>
<div th:replace="base :: header"></div>
<div id="site_content">
<div class="container" >
    <h5><b>New User Registration</b></h5>

    <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post">
        <div class="form_settings">
            <p>First Name  <input class="contact" type="text" placeholder="First Name" th:field="*{firstName}" /></p>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span><br />

            <p>Last Name   <input class="contact" type="text" placeholder="Last Name" th:field="*{lastName}" /></p>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span><br />

            <p>Email <input class="contact" type="email" placeholder="Email" th:field="*{email}" /></p>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span><br />

            <p>Username    <input class="contact" type="text" placeholder="Username" th:field="*{username}" /></p>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span><br />

            <p>Password   <input class="contact" type="text" placeholder="Password" th:field="*{password}" /></p>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span><br />

            <p style="padding-top: 15px"><input class="submit" type="submit" value="Submit" /></p>
            <!--<span>&nbsp;</span>-->
        </div>
    </form>

</div>
</div>
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>